.modal-btn {
    width: 200px;
    padding: 15px;
    border-radius: 25px;
    margin: 55px;
    color: rgb(7, 7, 7);
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
}

.wish-btn{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 25px;
    border: 0;
    background-color: white;
    color: grey;
    cursor: pointer;

    &:hover{
        color: red;

    }

    .active{
        color: red;
    }
}

.card-btn{
    background-color: #4cc3ef;
    border: 0;
    padding: 8px;
    width: 93px;
    border-radius: 5px;
    position: absolute;
    right: 25px;
    bottom: 17px;
    color: white;
    cursor: pointer;

    &:hover{
    background-color: #1482a9;

    }
}

.modal__close-btn{
    position: absolute;
    right: 12px;
    top: 12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background-color: rgba(0, 0, 0, 0.442) ;
    cursor: pointer;

    svg{
        display: block;
        margin: 0 auto;
    }

}

.modal__btn{
        background-color: rgba(0, 0, 0, 0.442);
        width: 130px;
        height: 25px;
        border: 0;
        border-radius: 5px;
        margin: 15px;
        cursor: pointer;

        &:hover{
            background-color: rgba(0, 0, 0, 0.694);

        }
}

.close-btn{

    border-radius: 50%;
    border: 0;
    background: white;
    position: absolute;
    top: 10px;
    right: 13px;
    background-color: #8080809e;
    font-size: 19px;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: #00000099;
    cursor: pointer;

    &:hover{
        background-color: #3a3a3a9e;

    }

}