.empty-block{

    text-align: center;
    margin: 0 auto;
    margin-top: 40px;

    img{
        width: 400px;
        margin-bottom: 30px;
    }

    p{
        font-size: 30px;
        margin-bottom: 50px;
    }

    .back-btn{
        background-color: #45bcec;
        border-radius: 10px;
        color: white;
        padding: 10px;
        width: 150px;
        text-decoration: none;
    }
}