.card-block {
    display: flex;
    align-items: center;

  
    button {
        position: relative;
        cursor: pointer;
        border: 0;
        background-color: #45bcec;
        text-align: center;



        .shopping-bag{
            color: white;
            font-size: 45px;
        }

        .shopping-bag:hover{
            color: rgb(220, 22, 22);
            
        }

        .active{
            color: rgb(220, 22, 22);
        }

        .close-order-window  {
            position: absolute;
            top: -22px;
            right: -20px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.3803921569);
            padding: 7px;
            font-size: 32px;

            &:hover{
                background-color: rgba(0, 0, 0, 0.599);

            }
        }


    }





    .quantity-items {
        display: flex;
        position: absolute;
        padding: 3px;
        justify-content: center;
        bottom: 0px;
        right: 3px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: red;
        color: white;

    }

}