.header {
    height: 100px;
    background-color: #45bcec;
    position: relative;
    z-index: 11;
    overflow: hidden;

    .container {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-content: center;
        justify-content: space-between;

        .header__logo-block {
            height: 100%;

            img {
                display: block;
                height: 132%;
                margin-top: -17px;

            }


        }

        .header__nav {
            ul {
                display: flex;
                justify-content: space-between;
                height: 100%;
                margin: 0;
                padding: 0;
                align-items: center;
                text-transform: uppercase;
                color: white;

                li {

                    .nav-link {
                        cursor: pointer;
                        padding: 42px;
                        text-decoration: none;
                        color: white;

                        &:hover {
                            background-color: #45a9d0;
                        }
                    }

                    .active-nav {
                        cursor: pointer;
                        padding: 36px;
                        text-decoration: none;
                        color: white;
                        // background-color: #398cad;
                        border-top: white solid 5px;
                        border-bottom:  #45bcec solid 5px;
                        &:hover {
                            background-color: #45a9d0;
                            border-bottom:  #45a9d0 solid 5px;

                        }
                    }


                }
            }


        }

        .card-block {
            width: 115px;
            display: flex;
        }



    }
}